.ea-dark-scheme {
  .card {
    background-color: var(--true-gray-700);
    color: var(--text-color-dark);
  }

  .table {
    color: var(--text-color-dark);
  }

  .form-control {
    background-color: var(--form-control-bg);
    background-repeat: no-repeat;
    border: 1px solid var(--form-input-border-color);
    box-shadow: var(--form-input-shadow);
    color: var(--form-input-text-color);
    transition: box-shadow .08s ease-in,color .08s ease-in;
    white-space: nowrap;
    word-break: keep-all;
  }

  .table-striped tbody {
    tr:nth-of-type(odd) > * {
      color: var(--gray-400);
    }

    tr.table-primary > td, tr.table-secondary > td, tr.table-info > td, tr.table-warning > td, tr.table-danger > td, tr.table-light > td {
      color: var(--black);

      a {
        color: var(--blue-700);

        &:hover {
          color: var(--blue-500);
        }
      }
    }

    tr.table-dark {
      color: var(--white);

      a {
        color: var(--blue-700);

        &:hover {
          color: var(--blue-500);
        }
      }
    }
  }

  .table-hover tbody > tr:hover {
    background-color: var(--black);
  }
}

.btn-group .form-control {
  padding: 4px 8px;
}

.todo-task-image {
  height: auto;
  width: auto;
  margin: auto;
  display: block;
  max-height: 500px;
  max-width: 100%;
}