{% extends 'website/base.html.twig' %}

{% block content %}
    <div class="p-5">
        <h1 class="text-center">{{ "About me"|trans }}</h1>
        <div class="row">
            <div class="col-lg-10 col-md-9 col-sm-12">
                <p class="text-justify">
                    Jestem team leaderem trzy osobowego zespou, w kt贸rego skad wchodzi <a href="#lusia">Lusia</a> i
                    <a href="#odi">Odi</a>. Razem tworzymy aplikacje internetowe. Wytwarzam monolity, systemy api oraz
                    mikroserwisy. G贸wnie korzystam z frameworka symfony, ale r贸wnie偶 miaem okazj pracowa nad
                    laravelem. Z technologii frontendowych tworz responsywne strony w oparciu o bibliotek boostrap
                    oraz tworz interaktywne komponenty w oparciu o bilbiotek jQuery lub framework VUE. Czasami nawet
                    napisz jaki unit lub behat test.
                </p>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 text-end">
                <img src="{{ asset('build/img/meet.png') }}" alt="Odi meet" class="w-100"/>
            </div>

            <hr class="my-2">

            <div class="col-lg-2 col-md-4 col-sm-12" id="lusia">
                <img src="{{ asset('build/img/Odi.jpeg') }}" class="rounded-circle w-100" alt="Odi"/>
            </div>

            <div class="col-lg-10 col-md-8 col-sm-12" id="odi">
                <p class="text-justify">
                    <a href="#odi">Odi</a> zajmuje si projektowaniem baz danych oraz pisaniem skomplikowanych zapyta
                    SQL. Mia przyjemno pracowa przy relacyjnych bazach danych takich jak MySQL, MariaDB, PostgreSQL
                    jak i przy nierelacyjnej bazie NoSQL. Robi zaawansowane wyszukiwarki na elasticsearchu oraz korzysta
                    z silnika redis do zapisywania cache. Lubi wygrzewa si na socu .
                </p>
            </div>

            <hr class="my-2">

            <div class="col-lg-10 col-md-8 col-sm-12">
                <p class="text-justify">
                    <a href="#lusia">Lusia</a> zajmuje si devopsowaniem, stawia VPS'y, tworzy dockerfile do lokalnych
                    rodowisk oraz pisze skrypty shell na systemy linux. Jej ulubiony system to linux ubuntu mate. Jest
                    odpowiedzialna r贸wnie偶 za system kontroli wersji. Korzysta z najpopularniejszego systemu git, tworzy
                    pull request'y i robi code review. Zajmuje si ca architektur aplikacji, w wolnych
                    chwilach degustuje par贸wki .
                </p>
            </div>

            <div class="col-lg-2 col-md-4 col-sm-12 text-end" id="lusia">
                <img src="{{ asset('build/img/Lusia.jpeg') }}" class="rounded-circle w-100" alt="Lusia"/>
            </div>
        </div>
    </div>
{% endblock %}
