<!DOCTYPE html>
<html lang="pl">
<head>
    <style>
        * {
            font-family: Arial, serif;
            font-size: 24px;
            line-height: 120%;
            color: #000;
        }

        h1, h2 {
            text-align: center;
            font-size: 40px;
        }

        td {
            vertical-align: top;
        }

        .small {
            font-size: 90%;
        }

        .small-2 {
            font-size: 80%;
        }

        p, ol, ul, li {
            margin: 0;
        }

        ol, ul {
            margin-bottom: 10px;
        }
    </style>
    <title>CV - Marcin Górski</title>
</head>
<body>{{ data|raw }}</body>
</html>